html{
	overflow-x: hidden;
    width: 100%;
}

body{
	text-align: center;
}

#title{
	font-size: 60px;
	padding-top: 30px;
}

p{
	font-size: 18px;
	line-height: 1.6;
}

.m-top{
	margin-top: 13px;
}

#task{
	margin-top: 20px;
}

#now{
	margin-bottom: 30px;
}

.flex-container{
	display: flex;
	justify-content: center;

}

.card{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 130px;
	border: 2px solid gray;
	margin-right: 20px;
	font-size: 100px;
	cursor: pointer;
}
.card2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 130px;
	border: 2px solid gray;
	margin-right: 20px;
	font-size: 100px;
}


.card.selected{
	border-color: #9ecaed;
}

#submit{
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 20px;
}

#correct{
	color: 	#32CD32;
	font-weight: bold;
	font-size: 25px;
}

#incorrect{
	color: #ff4c15;
	font-weight: bold;
	font-size: 25px;
}

#why{
	font-size: 25px;
}

ul li{
	text-align: left;
	position: relative;
	left: 20%;
	margin-right: 40%;
	font-size: 18px;
	list-style: none;
	margin-bottom: 20px;
	line-height: 1.6;

}

.exp{
	text-align: left;
	position: relative;
	left: 22%;
	margin-top: 40px;
	margin-right: 40%;

}

#sixteen, #twentytwo{
	font-size: 30px;
}



#prop-2{
	margin-bottom: 20px;
	margin-top: 20px;
}

#systems{
	width: 500px;
}

.source{
	text-align: left;
	position: relative;
	left: 22%;
	margin-right: 40%;

}

#sources{
	text-align: left;
	position: relative;
	left: 22%;
	margin-top: 40px;
	margin-bottom: 20px;
}

#bottom{
	margin-bottom: 20px;
}

body{
	background-color: #DDDDDD;
}